<body>
    <div class="container">
        <nav class="navbar d-block">
            <%- include("navbar.ejs"); %>
            <div class="row row-cols-1 row-cols-lg-4 g-4 py-5 px-5">
                <% if (cars.lenght !=1) { %>
                    <% cars.forEach(car=> { %>
                        <div class="card-group">
                            <div class="card">
                                <div class="card text-bg-dark">
                                    <a class="nav-link" href="download/<%= car.id %>">
                                        <img src="images/<%= car.id %>.webp" class="card-img" style="max-height: 120px; max-width: 300px; object-fit: cover;"  alt="" loading="lazy"/>
                                        <div class="card-img-overlay">
                                            <h5 class="card-title">
                                                <%= car.name %>
                                            </h5>
                                            <p class="card-text"><small>Posted on <%= car.actualDate.toLocaleDateString({year: "numeric", month: "2-digit", day: "2-digit"}); %></small></p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    <% }); %>
                <% } %>
            </div>
        </nav>
    </div>
</body>
